@mixin replies-below {
  content: "";
  position: absolute;
  top: -22px;
  width: 1px;
  height: calc(100% + 1.5em);
  background: var(--primary-300);
  left: 32px;
}

@mixin replies-above {
  content: "";
  position: absolute;
  top: 16px;
  width: 1px;
  height: calc(100% + 1.5em);
  background: var(--primary-300);
  left: -22px;
}
