@import "variables";

.topic-post nav.post-controls {
  .show-replies {
    display: flex;
    align-items: center;
    padding: 9px;
    .d-icon {
      padding-left: var(--control-space);
      margin-left: 0;
    }
    &[aria-expanded="true"] {
      background: var(--primary-low);
      color: var(--primary-high);
      box-shadow: 0px 0px 0px 1px var(--primary-300);
      z-index: 1;
      margin-left: 1px;
      .d-icon {
        color: var(--primary-high);
      }
      &:hover,
      &:focus {
        color: var(--primary);
        background: var(--primary-300);
      }
    }
  }
}

// Embedded Replies
.embedded-posts {
  position: relative;
  padding: 0.75em 0.5em;
  max-width: calc(100% - 62px);
  margin-left: auto;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: 1.5em;
    .row {
      // Main reply line
      &:before {
        content: "";
        position: absolute;
        top: calc(-2px - 0.75em);
        width: 1px;
        height: calc(100% + 1.5em + 5px);
        background: var(--primary-300);
        left: -32px;
      }
    }
    .topic-avatar {
      @include sticky;
      top: calc(var(--header-offset) + 0.5em);
      .post-avatar {
        img.avatar {
          width: 32px;
          height: 32px;
        }
      }
    }
    .topic-body {
      display: flex;
      flex-direction: column;
      max-width: calc(100% - 32px);
      margin-left: auto;
      gap: 0.25em 0;
      padding-bottom: 1.5em;
      .topic-meta-data.embedded-reply {
        margin-left: 0;
        .names {
          margin-bottom: 0.25em;
          .user-title {
            display: none;
          }
          .second {
            flex-basis: auto;
          }
        }
        .post-link-arrow {
          position: absolute;
          bottom: 0;
          .post-info.arrow {
            padding: 0.5em 0;
            margin-right: 0;
            color: var(--primary-med-or-secondary-high);
            line-height: 1;
            &:after {
              content: "#{$jump_to_post}";
            }
            &:hover,
            &:focus {
              color: var(--primary-high);
            }
          }
        }
      }
    }
  }
  .collapse-up {
    position: relative;
    padding: 6px;
    color: var(--primary-high);
    background: var(--primary-low);
    z-index: 1;
    transform: translate(-150%, -30%);
    box-shadow: 0px 0px 0px 1px var(--primary-300);
    .archetype-private_message & {
      display: flex;
    }
    .d-icon {
      transform: scale(0.871);
    }
    &:hover,
    &:focus {
      background: var(--primary-300);
      .d-icon {
        color: var(--primary);
      }
    }
  }
}
